/Black Hole Data Application .docx
/blackhole_data/LISCENSE
/blackhole_data/README.md
/blackhole_data/src/__pycache__/file_handler.cpython-36.pyc
/blackhole_data/src/__pycache__/mass_radius_converter.cpython-36.pyc
/blackhole_data/src/data/blackhole_data.csv
/blackhole_data/src/file_handler.py
/blackhole_data/src/file_handler.pyc
/blackhole_data/src/main.py
/blackhole_data/src/mass_radius_converter.py
/blackhole_data/src/mass_radius_converter.pyc
/ChatGPT INSIDE Excel.xlsx
